langchain
langchain-classic
langchain-community
langchain-chroma
langchain-groq
langchain-huggingface
langchain-text-splitters
streamlit
python-dotenv
chromadb
pypdf
unstructured
tiktoken
protobuf
beautifulsoup4
request
